:root {
    --colour-primary: #f4f4f4;
    --colour-primary-dark: #555;
    --colour-secondary: darkorchid;
    --colour-secondary-light: mediumPurple;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

nav-bar {
    height: 10vh;
}

dash-logger {
    width:60%;
}