:root {
    --text-color-primary: #f4f4f4;
    --text-color-secondary: #555;
    --color-primary: #555;
    --color-primary-light: #888;
    --color-secondary: #f4f4f4;
    --color-tertiary: maroon;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    
}

body {
    background-color: var(--color-primary);
}

nav-bar {
    width: 60%;
    height: 2rem;
}

dash-logger {
    width:60%;
}