main {
    display: grid;
    /* grid-auto-rows: 1fr; */
    grid-template: 50% 50% / 50% 50%;
    box-sizing: border-box;
    /* padding: 5px 0px; */
    margin: 0;
    padding: 5px 0;
}

canvas {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

#placeholder {
    width: 20%;
}
#chart-container-gyro {
    border-radius: var(--component-border-rad);
    grid-column: 1;
    grid-row: 1/3;

}

#chart-gyro{

}

#chart-container-encR {
    border-radius: var(--component-border-rad);
    grid-column: 2;
    grid-row: 1;

}
#chart-encR {


}

#chart-container-encL {
    border-radius: var(--component-border-rad);
    grid-column: 2;
    grid-row: 2;

}

#chart-encL {

}