main {
    display: grid;
    /* grid-auto-rows: 1fr; */
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    /* padding: 5px 0px; */
    margin: 0;
    padding: 5px 0;
}



#chart-gyro {
    border-radius: var(--component-border-rad);
    grid-column: 1;
}

#chart-enc {
    border-radius: var(--component-border-rad);
    grid-column: 2;
}
