main {
    display: grid;
    /* grid-auto-rows: 1fr; */
    grid-template: 50% 50% / 50% 50%;
    box-sizing: border-box;
    /* padding: 5px 0px; */
    margin: 0;
    padding: 5px 0;
}


#placeholder {
    width: 20%;
}


#chart-gyro {
    border-radius: var(--component-border-rad);
    grid-column: 1;
    grid-row: 1/3;
}

#chart-encR {
    border-radius: var(--component-border-rad);
    grid-column: 2;
    grid-row: 1;
}

#chart-encL {
    border-radius: var(--component-border-rad);
    grid-column: 2;
    grid-row: 2;
}
